body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #efedeb;
}

#root {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#mapa {
  float: left;
  width: 49vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

#info {
  float: right;
  width: 50vw;
  height: 98vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1vh 2px;
}

textarea {
  width: 98%;
  height: fit-content;
  min-height: 5em;
  resize: none;
  overflow: hidden;
}