body {
  margin: 0;
  font-family: "Bookinsanity", Georgia, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #efedeb;
}

@font-face {
  font-family: "Bookinsanity";
  src: url("../fonts/Bookinsanity.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Nodesto";
  src: url("../fonts/Nodesto Caps Condensed.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Mr Eaves Small Caps";
  src: url("../fonts/Mr Eaves Small Caps.otf") format("opentype");
  font-display: swap;
}

#root {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#mapa {
  float: left;
  width: 49vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

#info {
  float: right;
  width: 50vw;
  height: 98vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1vh 2px;
}

textarea {
  width: 97%;
  height: fit-content;
  min-height: 5em;
  resize: none;
  overflow: hidden;
}

p , ul , ol {
  font-family: "Bookinsanity";
  font-size: 1.1em;
}

h1 {
  font-family: "Nodesto";
	font-weight: bold;
}

h2 {
  font-family: "Mr Eaves Small Caps";
	font-weight: normal;
}